<header class="text-gray-400 bg-gray-900 bg-opacity-20 body-font">
    <div class="container mx-auto flex flex-wrap px-5 py-2 flex-col md:flex-row items-center">
        <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0" routerLink="inicio">
            <img src="../../assets/eco.png" alt="icono" class="w-14 h-14 rounded-full"/>
        </a>
        <nav class="flex lg:w-4/5 flex-wrap items-center text-base md:ml-auto">
            <a routerLinkActive="text-white border-b-2 border-white" [routerLinkActiveOptions]="{ exact: true }" class="mr-5 hover:text-slate-400 cursor-pointer lg:w-1/5 text-center" routerLink="calculadora"><span class="text-white">Calculador</span></a>
            <a routerLinkActive="text-white border-b-2 border-white" [routerLinkActiveOptions]="{ exact: true }" class="mr-5 hover:text-slate-400 cursor-pointer lg:w-1/5 text-center" routerLink="chat"><span class="text-white">Chat</span></a>
            <a routerLinkActive="text-white border-b-2 border-white" [routerLinkActiveOptions]="{ exact: true }" class="mr-5 hover:text-slate-400 cursor-pointer lg:w-1/5 text-center" routerLink="calendario"><span class="text-white">Eventos</span></a>
            <a routerLinkActive="text-white border-b-2 border-white" [routerLinkActiveOptions]="{ exact: true }" class="mr-5 hover:text-slate-400 cursor-pointer lg:w-1/5 text-center" routerLink="guia"><span class="text-white">Guia</span></a>
        </nav>
    </div>
</header>