@if(cargando){
    <div class="fixed inset-0 flex items-center justify-center z-50 opacity-50 bg-black">
        <div class="flex h-56 w-56 animate-[spinner-grow_0.75s_linear_infinite] rounded-full bg-current align-[-0.125em] bg-lime-500 motion-reduce:animate-[spinner-grow_1.5s_linear_infinite]" role="status">
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Loading...</span>
        </div>
    </div>
}

