<div class="container mx-auto">
    <div class="flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden mb-4">
        <div class="md:flex">
            <img class="md:w-1/5 w-full object-cover" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Event image">
            <div class="md:w-2/5 w-full p-4">
                <H3 class="text-lg font-semibold">Event Name</H3>
                <p class="text-gray-60">Event Description</p>
                <p class="text-gray-500 text-sm">Event Details...</p>
            </div>
            <div class="md:w-2/5 w-full flex items-center justify-center p-2">
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Book Appoiment
                    </span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden mb-4">
        <div class="pr-10 p-8 flex items-center">
            <p class="text-4xl font-bold">18th</p>
        </div>
        <div class="md:w-2/5 w-full p-4">
            <H3 class="text-lg font-semibold">November, 2023</H3>
            <p class="text-gray-600">9:20 AM - 9: 40 AM</p>
            <p class="text-gray-500 text-sm">Event Details...</p>
        </div>
        <div class="md:w-2/5 w-full flex items-center justify-center p-4">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Book Appoiment
                </span>
            </button>
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden mb-4">
        <img class="md:w-1/5 w-full object-cover" src="https://randomuser.me/api/portraits/men/75.jpg" alt="Doctor's image">
        <div class="md:w-2/5 w-full p-4">
            <h3 class="text-lg font-semibold">Dr. John Doe</h3>
            <p class="text-gray-600">Specialty: Cardiology</p>
            <p class="text-gray-500 text-sm">Available Time Slots:</p>
            <ul class="list-disc list-inside text-gray-500 text-sm">
                <li>10:00 - 11:00</li>
                <li>13:00 - 14:00</li>
                <li>16:00 - 17:00</li>
            </ul>
        </div>
        <div class="md:w-2/5 w-full flex items-center justify-center p-4">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Book Appoiment
                </span>
                </button>
        </div>
    </div>
</div>